{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>C$50 Finance</title>

    <link rel="stylesheet" href="{% static 'css/jasny-bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navmenu-reveal.css' %}" />
    <link rel="stylesheet" href="{% static 'css/waves.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" />

    <script src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script src="{% static 'js/jasny-bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/easing.js' %}"></script>
    <script src="{% static 'js/totop.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/waves.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollTo-min.js' %}"></script>
    <script src="{% static 'js/jquery.localScroll-min.js' %}"></script>

    </body>
    {% include 'style.html' %}

  </head>

  <body>

    {% include 'navmenu.html' %}


    <div class="canvas"> 

      

      {% include 'navbar.html' %}

      
      {% include 'main-jumbotron.html' %}

      



      

      <div class="signup-jumbotron window w2"  id="signup">
        <div class= "container">
          <div class = "col-md-offset-2 col-xs-offset-1 col-md-8">

            {% include 'form.html' %}
            
          </div>
        </div>
      </div>

    

      {% include 'info.html' %}


    </div><!-- /.canvas -->

    <script type="text/javascript">
      Waves.attach('.button', ['waves-button', 'waves-float']);
      Waves.attach('.navbar-button', ['waves-circle', 'waves-float',  'waves-effect',  'waves-light', ]);
      Waves.init();
    </script> 


  </body>

</html>
