<div class="jumbotron footer-jumbotron">
	<div class= "container">
		
		<div class = "col-md-8">
         	<a target="_blank" href="#" style="text-decoration: none;">&#9400; C$50 Finance</a> 
		</div>

		<div class = "col-md-2" id="share">	

			<span class="mmm pull-right">
				<a target="_blank" id="mail" href="mailto:admin@opencv.org"></a>
				<a id="twitter" href="#" target="_blank" rel="nofollow"></a>
				<a id="fb" href="#" target="_blank" rel="nofollow"></a>
				<a id="gplus" href="#" target="_blank" rel="nofollow"></a>
				<a id="yuotoob" href="#" target="_blank" rel="nofollow"></a>
			</span>
		</div>

	</div>
</div>