<form method = 'POST' action = '' class="form-horizontal"
style="float: none;
    margin: 0 auto;" autocomplete="off">
    {% csrf_token %}

    <div class="form-group">

        <label class="col-sm-2 control-label"
            for="{{ form.full_name.id_for_label }}">Full Name</label>

        <div class="col-sm-9">
            <input class="form-control input-group-lg input-group-lg"
            id="id_full_name" type="text" name="full_name" maxlength="100"
            autocomplete="off" placeholder="Tom Hardy"/>
        </div>

    {% if form.full_name.errors %}
        <div class="col-sm-offset-2 alert alert-danger alert-dismissible fade in" role=alert>
            <button type=button class=close data-dismiss=alert aria-label=Close>
                <span aria-hidden=true>&times;</span>
            </button>
            {% for error in form.full_name.errors %}
                {{ error|escape }}
            {% endfor %}
        </div>
    {% endif %}

    </div>

    <div class="form-group">

        <label class="col-sm-2 control-label"
            for="{{ form.email.id_for_label }}">Email</label>

        <div class="col-sm-9">
            <input class="form-control input-group input-group-lg"
            id="id_email" type="text" name="email" maxlength="100" 
            autocomplete="off" placeholder="tom.hardy@abc.xyz"/>
        </div>

    </div>


    {% if form.email.errors %}
        <div class="col-sm-offset-2 col-sm-9 alert alert-danger alert-dismissible fade in" role=alert>
            <button type=button class=close data-dismiss=alert aria-label=Close>
                <span aria-hidden=true>&times;</span>
            </button>
            {% for error in form.email.errors %}
                {{ error|escape }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="form-group">

        <label class="col-sm-2 control-label"
            for="password">Password</label>

        <div class="col-sm-9">
            <input class="form-control input-group input-group-lg"
            id="password" type="password" name="password" maxlength="100" 
            autocomplete="off" placeholder="***********"/>
        </div>

    </div>

    <div class="form-group">

        <div class="col-sm-offset-2 col-sm-9">
            <button type="submit" class=" btn btn-primary">Sign Up</button>   or  
            <button type="submit" class=" btn btn-success">
            <span class="glyphicon glyphicon glyphicon-log-in" aria-hidden="true">  </span>
              Login
            </button> 
        </div>

    </div>


</form>

