<div class="info-jumbotron window w3" id="about">
  <div class= "container">
  <div class = "col-md-offset-2 col-xs-offset-1 col-md-8">
    <p class="lead" align="justify">This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>

    <p class="lead" align="justify">To see the difference between static and fixed top navbars, just scroll.</p>
   
    <p>
    </p>

    <p class="lead" align="justify">This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>

    <p  class="lead" align="justify"><br/><br/></p>
</div>
      <div class="col-md-offset-5 col-xs-offset-2 col-md-4"> 
        <span class="mmm ">
          <a target="_blank" id="mail" href="mailto:admin@opencv.org"></a>
          <a id="twitter" href="#" target="_blank" rel="nofollow"></a>
          <a id="fb" href="#" target="_blank" rel="nofollow"></a>
          <a id="gplus" href="#" target="_blank" rel="nofollow"></a>
          <a id="yuotoob" href="#" target="_blank" rel="nofollow"></a>
        </span>
      </div>

  </div>
  </div>