<div class="jumbotron info-jumbotron">
  <div class= "container">
  <div class = "col-xs-offset-2 col-md-6">
    <p align="justify">This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
    <p align="justify">To see the difference between static and fixed top navbars, just scroll.</p>
    <p>
    </p>
    <p align="justify">This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
    <p align="justify">To see the difference between static and fixed top navbars, just scroll.</p>
    <p>
    </p>
  </div>
  </div>
</div>