<div class="jumbotron main-jumbotron">

  <div class= "container">
  <div class = "col-xs-offset-2 col-md-6">
    <h1>This is C$50</h1>
    <p align="justify">This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
    <p align="justify">To see the difference between static and fixed top navbars, just scroll.</p>
    <p>
    <a class="btn btn-lg btn-primary" href="#" role="button">View Details</a>
    </p>
  </div>
  </div>


  <a href="#navbar-id">
    <div class="arrow bounce">
      <h3>
        <span class="glyphicon glyphicon-chevron-down 5x" aria-hidden="true"></span>
      </h3>
    </div>
  </a>

</div>