<div class="navmenu navmenu-default navmenu-fixed-left">

  <a class="navmenu-brand" href="#" class="button">C$50 Finance</a>

  <ul class="nav ">
    <li><a href="#signup" class="button">Sign Up</a></li>
    <li><a href="#about" class="button">About</a></li>
    <li><a href="#" class="button">Quote</a></li>
    <li><a href="#" class="button">Terms & Conditions</a></li>
    <li><a href="#" class="button">Sconj</a></li>
    <li><a href="http://www.jmi.ac.in" target = "_blank" class="button">JMI</a></li>
    <li><a href="#" class="button">Algorythm</a></li>

<!--     <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
      <ul class="dropdown-menu navmenu-nav">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">Nav header</li>
        <li><a href="#">Separated link</a></li>
        <li><a href="#">One more separated link</a></li>
      </ul>
    </li> -->

  </ul>

</div>