{% load staticfiles %}
<style>

.navbar
{
	box-shadow: none;
}


#mail
{
	display:block;
	background: url("{% static 'img/mail.png'%}") left;
	_background: url("images/mail2.png") left;
	width:19px;
	height:14px;
	float:left;
	margin-top:7px;
}
#mail:hover
{
	background: url("{% static 'img/mail.png'%}") right;
	_background: url("images/mail2.png") left;
}
#twitter
{
	display:block;
	background: url("{% static 'img/twitter.png'%}") left;
	_background: url("images/twitter2.png") left;
	width:17px;
	height:17px;
	float:left;
	margin-top:5px;
}
#twitter:hover
{
	background: url("{% static 'img/twitter.png'%}") right;
	_background: url("images/twitter2.png") left;
}
#fb
{
	display:block;
	background: url("{% static 'img/fb.png'%}") left;
	_background: url("images/fb2.png") left;
	width:10px;
	height:21px;
	float:left;
}
#fb:hover
{
	background: url("{% static 'img/fb.png'%}") right;
	_background: url("images/fb2.png") left;
}
#gplus
{
	display:block;
	background: url("{% static 'img/g+.png'%}") left;
	_background: url("images/g+2.png") left;
	width:14px;
	height:15px;
	float:left;
	margin-top:8px;
}
#gplus:hover
{
	background: url("{% static 'img/g+.png'%}") right;
	_background: url("images/g+2.png") left;
}
#yuotoob
{
	display:block;
	background: url("{% static 'img/yuotoob.png'%}") left;
	_background: url("{% static 'img/yuotoob.png'%}") left;
	width:17px;
	height:13px;
	float:left;
	margin-top:8px;
}
#yuotoob:hover
{
	background: url("{% static 'img/yuotoob.png'%}") right;
	_background: url("{% static 'img/yuotoob.png'%}") left;
}
.mmm
{
	overflow:hidden;
}
.mmm a
{
	margin-right:10px;
}

.main-jumbotron
{
	padding-top: 10%;
	margin-top: 0px;
	margin-bottom: 0px !important;
	/*adding-bottom: 5%;*/
}

.signup-jumbotron
{
	padding-top: 15%;
	margin-top: 0px;
	margin-bottom: 0px !important;
	/*padding-bottom: 30%;*/
}

.info-jumbotron
{
	padding-top: 10%;
	margin-top: 0px;
	margin-bottom: 0px !important;
	/*padding-bottom: 30%;*/
}

.main-button{
	background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
	text-decoration: none;
	color: #ffffff !important;
}
a:link
{
	text-decoration: none !important;
}

.navbar-button
{
	background-color: orange !important;
	border: none !important;
}
body
{
	padding-top: 0px;
}

.canvas
{
	margin-top: 0px;
	padding-top: 0px;
}



.footer-jumbotron
{
	margin-bottom: 0px;
	padding: 20px;
	padding-bottom: 15px;
	background-color: black;
}


/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.2
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/

#toTop {
	/*display:none;*/
	/*text-decoration:none;*/
	position:fixed;
	bottom:40px;
	right:50px;
	/*overflow:hidden;*/
	width:51px;
	height:51px;
	border:none;
	text-indent:100%;
	/*background:url("{% static 'img/totop.png'%}") no-repeat left top;*/
}

#toTopHover {
	/*background:url("{% static 'img/totop.png'%}") no-repeat left -51px;*/
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	/*opacity: 0;*/
	/*-moz-opacity: 0;*/
	/*filter:alpha(opacity=0);*/
}

#toTop:active, #toTop:focus {
	outline:none;
}

.window {
  width: 100%;
  height: 100%;
  position: absolute;
}

.w1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  background-color: hsl(158, 58%, 52%);
}

.w2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #1babb7;
}

.w3 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 200%;
  background-color: hsl(350, 92%, 59%);
}


.navmenu
{
	background-color: #ff9800;
}


.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #EB9411;
}

.w1, .w2, .w3
{
	overflow-y: auto;
}

.arrow-div
{
	margin-top: 10%;
	/*top: 80% !important;*/
}

.w1::-webkit-scrollbar {
    width: 0.5em;
}
.w2::-webkit-scrollbar {
    width: 0.5em;
}
.w3::-webkit-scrollbar {
    width: 0.5em;
}
 .w1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 .w2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.w3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}


.w1::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.w2::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.w3::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

</style>



