{% load staticfiles %}
<style>

.navbar
{
	box-shadow: none;
}

.canvas
{
	background: url("{% static 'img/clear-sky.jpg'%}") no-repeat center center fixed;
	background-size: cover;

}

#mail
{
	display:block;
	background: url("{% static 'img/mail.png'%}") left;
	_background: url("images/mail2.png") left;
	width:19px;
	height:14px;
	float:left;
	margin-top:7px;
}
#mail:hover
{
	background: url("{% static 'img/mail.png'%}") right;
	_background: url("images/mail2.png") left;
}
#twitter
{
	display:block;
	background: url("{% static 'img/twitter.png'%}") left;
	_background: url("images/twitter2.png") left;
	width:17px;
	height:17px;
	float:left;
	margin-top:5px;
}
#twitter:hover
{
	background: url("{% static 'img/twitter.png'%}") right;
	_background: url("images/twitter2.png") left;
}
#fb
{
	display:block;
	background: url("{% static 'img/fb.png'%}") left;
	_background: url("images/fb2.png") left;
	width:10px;
	height:21px;
	float:left;
}
#fb:hover
{
	background: url("{% static 'img/fb.png'%}") right;
	_background: url("images/fb2.png") left;
}
#gplus
{
	display:block;
	background: url("{% static 'img/g+.png'%}") left;
	_background: url("images/g+2.png") left;
	width:14px;
	height:15px;
	float:left;
	margin-top:8px;
}
#gplus:hover
{
	background: url("{% static 'img/g+.png'%}") right;
	_background: url("images/g+2.png") left;
}
#yuotoob
{
	display:block;
	background: url("{% static 'img/yuotoob.png'%}") left;
	_background: url("{% static 'img/yuotoob.png'%}") left;
	width:17px;
	height:13px;
	float:left;
	margin-top:8px;
}
#yuotoob:hover
{
	background: url("{% static 'img/yuotoob.png'%}") right;
	_background: url("{% static 'img/yuotoob.png'%}") left;
}
.mmm
{
	overflow:hidden;
}
.mmm a
{
	margin-right:10px;
}

#share
{
	margin: 0px;
	padding: 0px;
}

.main-jumbotron
{
	height: 100%;
}
.signup-jumbotron
{
	background-color: rgba(255,255,255,0.4);
    border-radius: 0px;
}

.info-jumbotron
{
	margin-top: 50px;
	margin-bottom: 0px;
}

.footer-jumbotron
{
	margin-bottom: 0px;
	padding: 20px;
	padding-bottom: 15px;
	background-color: black;
}

.arrow
{
	position: absolute;
}

</style>



